<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
 <title>Javascript でサブミットする</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <script type="text/javascript">
 function mySubmit(formName, url, method)
 {
   // サブミットするフォームを取得
   var f = document.forms[formName];
 
   f.method = method; // method(GET or POST)を設定する
   f.action = url; // action(遷移先URL)を設定する
   f.submit(); // submit する
   return true;
 }
 </script>
 </head>
 <body>
   <form name="myForm" action="form.html" method="GET">
     <!--
     サブミットボタン（type="submit"）の場合は form タグに記述されている方法で遷移する
     もちろん Javascript で遷移先を変更させることなども可能（後述）
     -->
     <input type="submit" value="サブミットボタン"><br />
 
     <!--
     ボタン（type="button"）の場合は勝手にサブミットされることはないので
     ボタンクリック時に遷移させるには Javascript で行う必要がる
     -->
     <input type="button" value="ただのボタン" onclick="return mySubmit('myForm', 'form.html', 'POST');">
   </form>
 </body>